<form method="post" action="{{ path('typeof_operation_delete', {'id': typeof_operation.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typeof_operation.id) }}">
    <button class="btn delete-btn">Supprimer</button>
</form>
