{% extends 'base.html.twig' %}

{% block title %}Modifier un type d'opération{% endblock %}

{% block body %}
    <h1>Modifier un type d'opération</h1>

    {{ include('typeof_operation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="options-btn">
        <a href="{{ path('typeof_operation_index') }}" class="back-btn btn">Retour</a>
        {{ include('typeof_operation/_delete_form.html.twig') }}
    </div>

{% endblock %}
