{% extends 'base.html.twig' %}

{% block title %}Nouveau type d'opération{% endblock %}

{% block body %}
    <h1>Nouveau type d'opération</h1>

    {{ include('typeof_operation/_form.html.twig') }}

    <a href="{{ path('typeof_operation_index') }}" class="btn back-btn">Retour</a>
{% endblock %}
