{% extends 'base.html.twig' %}

{% block title %}Modifier une opération{% endblock %}

{% block body %}
    <h1>Modifier une opération</h1>

    {{ include('operation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="options-btn">
        <a href="{{ path('operation_index') }}" class="back-btn btn">Retour</a>
        {{ include('operation/_delete_form.html.twig') }}
    </div>
{% endblock %}
