<form method="post" action="{{ path('contact_info_delete', {'id': contact_info.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_info.id) }}">
    <button class="btn delete-btn">Supprimer</button>
</form>
