{% extends 'base.html.twig' %}

{% block title %}Modifier un administrateur{% endblock %}

{% block body %}
    <h1>Modifier un administrateur</h1>

    {{ include('admin/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="options-btn">
        <a href="{{ path('admin_index') }}" class="back-btn btn">Retour</a>
        {{ include('admin/_delete_form.html.twig') }}
    </div>
{% endblock %}
